<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Videograph Template">
    <meta name="keywords" content="Videograph, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="shortcut icon" href="img\logo.png" />
    <title>Site Tronix | About</title>

     <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
        
        
        <!-- Css Styles 2--> 
    <link href="css/bootstrap-icons.css" rel="stylesheet">
    <link href="css/tooplate-kool-form-pack.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" type="text/css">
        

    <!-- Css Styles 2-->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
  
  
  
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a style="color:white; text-decoration:none;" th:href="@{/}">SITE TRONIX </a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav__option">
                        <nav class="header__nav__menu mobile-menu">
                            <ul>
                                <li><a th:href="@{/}">Початкова</a></li>
                                <li ><a th:href="@{/services}">Сервіси</a></li>
                                <li><a th:href="@{/portfolio}">Портфоліо</a></li>
                              
                                <li><a th:href="@{/#contacts}">Контакти</a>                                 
                                </li>
                                
                                 <li class="active"><a style="text-decoration:none" th:href="@{/about}">Детальніше</a></li>
                               
                            </ul>
                        </nav>
                        <div class="header__nav__social">
                         <a href="https://www.instagram.com/site_tronix/"><i class="fa fa-instagram"></i></a>
                            <a href="https://t.me/vsprava"><i class="fa fa-telegram"></i></a>
                            <a href="viber://chat?number=%2B380977528559"><i class="fa fa-whatsapp"></i></a>      
                           
                  
                        </div>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Begin -->
    <div style ="height:70px" class="breadcrumb-option spad set-bg" data-setbg="img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Детальніше</h2>
                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- About Section Begin -->
    <section class="about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about__pic">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="about__pic__item about__pic__item--large set-bg"
                                    data-setbg="img/about/room2.png"> <img src="">  </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="about__pic__item set-bg" data-setbg="img/about/view.jpg"></div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="about__pic__item set-bg" data-setbg="img/about/dev2.jpg"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about__text">
                        <div class="section-title">
                            <span>Про SITE TRONIX</span>
                            <h2>Хто такі SITE TRONIX?</h2>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="services__item">
                                    <div class="services__item__icon">
                                        <img src="img/icons/si-4.png" alt="">
                                    </div>
                                    <h4>СТВОРЕННЯ</h4>
                                    <p style="font-style:italic;">Створюємо сайти для браузерів з нуля, під ключ.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="services__item">
                                    <div class="services__item__icon">
                                        <img src="img/icons/si-3.png" alt="">
                                    </div>
                                    <h4>РЕДАГУВАННЯ</h4>
                                    <p style="font-style:italic;" >  Редагуємо, доповнюємо вже наявні сайти.</p>
                                </div>
                            </div>
                        </div>
                        <div class="about__text__desc">
                            <p style="font-style:bold;">SITE TRONIX - готові допомогти своїм клієнтам з втіленням їх бізнес-ідей в сучасний інтернет-ресурс
                            доступний для мільйонів користувачів інтернету. Все, що залишається для остаточної реалізації ваших планів, так це - подати заявку або зателефонувати нам. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->
    
    
 
    
    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="footer__top">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top__logo">
                            <a  style="color:white" th:href="@{/}"> SITE TRONIX DEVELOPER GROUP </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top__social">
                            <a href="https://t.me/vsprava"><i class="fa fa-telegram"></i></a>
                            <a href="#"><i class="fa fa-whatsapp"></i></a>            
                            <a href="https://www.instagram.com/site_tronix/"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__option">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="footer__option__item">
                            <h5>Читати</h5>
                            <p>SiteTronix працює над створенням інтернет-сайтів </p>
                            <a href="#" class="read__more"> Перейти <span class="arrow_right"></span></a>
                        </div>
                    </div>
                    
                        <div class="col-lg-2 col-md-3 col-sm-3">
                        <div class="footer__option__item">
                            <h5>Наші роботи</h5>
                            <ul>
                                <li><a href="#">Портфоліо #1</a></li>
                                <li><a href="#">Портфоліо #2</a></li>
                             
                            <!--     <li><a href="#">Головна сторінка</a></li>--> 
                            
                            </ul>
                        </div>
                    </div>
                    
                    
                    <div class="col-lg-2 col-md-3 col-sm-3">
                        <div class="footer__option__item">
                            <h5>Others</h5>
                            <ul>
                                <li><a href="#">Сервіси</a></li>
                                <li><a href="#">Контакти</a></li>
                                <li><a href="#">Про компанію</a></li>
                                <li><a href="#">Головна сторінка</a></li>
                            </ul>
                        </div>
                    </div>
                
                    <div class="col-lg-4 col-md-12">
                        <div class="footer__option__item">
                            <h5>Новини</h5>
                            <p>Відправити почту для отримання новин від SiteTronix</p>
                            <form action="#">
                                <input type="text" placeholder="Email">
                                <button type="submit"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p class="footer__copyright__text">Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            All rights reserved | This template is made with <i style="color:indigo" class="fa fa-heart-o"
                                aria-hidden="true"></i> by <a style="color:indigo" href="" target="_blank">SiteTronix</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- FOTTER SECTION -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>